body {
--sb-track-color: #35495e;
--sb-thumb-color: #41b883;
--sb-size: 10px;

scrollbar-color: var(--sb-thumb-color) 
                    var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

.logo {
    max-height: 50px;
    max-width: 50px;
}